Data_to_consider/
References/
TEST_Project/
.ipynb_checkpoints/
.vscode/
New Plant Diseases Dataset(Augmented)/
Docs/

# Byte-compiled / optimized files
__pycache__/
*.py[cod]
*.so
*.egg-info/
*.egg

# Virtual environments
venv/
env/
.venv/

# Logs and databases
*.log
*.sqlite
*.db

# IDE-specific files
.vscode/
.idea/
.DS_Store (Mac)

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Environment variables
.env
.secrets
config.py